// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

.header {
    background: linear-gradient(90deg, rgb(210, 212, 244) 0%, rgb(174, 211, 255) 100%);
    box-shadow: inset 0px 0px 0px 3px  rgba(145, 86, 221, 0.2);

    .main-header {
        display: grid;
        grid-template: 90px / 1fr 2fr;

        .logo-wrapper {
            display: flex;
            gap: 20px;
            align-items: center;
            
    
            img {
                height: 80%;
            }

            .site-title {
                font-size: 28px;
                font-weight: 700;
                margin: 0;
            }

        }

        .menu-list {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 100px;
            list-style-type: none;
            justify-content: center;
            align-items: center;
    
            .menu-item {
    
                .menu-link {
                    font-size: 20px;
                    text-decoration: none;
                    padding: 20px;
                    color:black;
    
                    &:hover{
                        background-color: rgba(145, 86, 221, 0.5);
                        border-radius: 30px;
                    }

                    &.active {
                        font-weight: bold;
                        background-color: rgba(145, 86, 221, 0.2);
                        border-radius: 30px;

                    }
                }
            }
        }

    }

}
