.main-title {
    text-align: center;
    margin: 150px 0;
    font-size: 50px;
}

.main-subtitle {
    font-size: 36px;
}
.top-wrapper {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;



    .user-card {
        width: calc((100% - 100px) /3);
        border: dashed 2px;
        padding: 20px;
        border-width: 3px;
        border-color: rgb(94, 43, 187);
        background-color: rgb(216, 229, 253);

        @media screen and (max-width: 1200px) {
            width: calc((100% - 50px) /2);
        }

        @media screen and (max-width: 750px) {
            width: 100%
        }

        a {
            text-decoration: none;
            color: black;
            
            .user-title {
                font-size: 26px;
                text-align: center;
            }
            .user-username{
                font-size: 18px;
                padding: 20px 0;
            }

        }
        .pets-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap:20px;

            
            a {
                width: calc((100% - 20px) / 2);
                text-decoration: none;
                color: rgb(87, 68, 105);

                @media screen and (max-width: 900px) {
                    width: 100%
                }

                @media screen and (max-width: 750px) {
                    width: calc((100% - 20px) / 2);
                }

                @media screen and (max-width: 500px) {
                    width: 100%
                }
                
                &:only-child {
                    text-align: center;
                    width: 100%;
                }

                .pet-wrapper {
                    display: flex;
                    width: 100%;
                    flex-direction: column;

                    h3 {
                        font-size: 24px;
                    }

                    img {
                        height: 200px;
                        width: 100%;
                        object-fit: cover;

                        @media screen and (max-width: 1200px) {
                            height: 250px;
                        }

                        @media screen and (max-width: 500px) {
                            height: 200px;
                        }
                    }
                }

            }
        }
    }
}