.posts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .post-wrapper {
        padding: 30px 20px;
        border-style: groove;
        border-width: 5px;
        border-color: rgb(94, 43, 187);
        background-color: rgb(216, 229, 253);

    
            a {
                text-decoration: none;
                color: black;
    
                .post-title {
                    margin: 10px 0;
                    
                    &::first-letter {
                        text-transform: capitalize;
                    }
                }
        
                .post-author {
                    margin-bottom: 10px;
                    padding-left: 20px;
                    color: rgb(87, 68, 105);
                }
        
                .post-body {
                    
                    padding-left: 20px;
                    color: rgb(87, 68, 105);

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }
            }
    }
}
